{% extends 'base.html.twig' %}

{% block title %}YouMusic !{% endblock %}

{% block body %}
    <h1>Liste des musiques disponibles</h1>

    <a href="{{ path('app_music_new') }}">Ajouter une musique</a>
    <ul>
        {% for music in musicsList %}
        <li><a href="{{ path('app_music_show', {'id': music.id}) }}">{{ music.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
